<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFVipVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SafariExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15125F5020EB0C650079BD1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15125F6520EB0C660079BD1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15125F7020EB0C660079BD1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15125F8620EB11FD0079BD1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
